.footer__title{
    font-family: Aboreto;
    color: black;
    border-top: solid 1px gray;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.footer__text{
    display: flex;
    justify-content: center;
    color: darkgrey;
    margin-top: 50px;
    margin-bottom: 10px;
}

